*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: white;
}

.left-side, .right-side {
    flex: 1;
    
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}


.image-wrapper {
    position: relative;
}


.logo-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
}

.logo-overlay img {
    height: 40px;
}

.logo-overlay p {
    color: white;
    margin: 0;
}

.credits {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
    font-size: 0.8rem;
    transform: translateX(-50%);
}

 .credits a {
    color: white;
    pointer-events: auto;
 }

 .right-side {
    font-weight: bold;
 }

 .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
    padding: 2rem 0;
    background-color: rgb(18, 18, 26);
 }

 fieldset {
    border: 0;
    
 }

 legend {
    font-size: 2rem;
    margin-bottom: 1em;
 } 

 .shadow {
    box-shadow: 0px 0px 10px lightgray;
    
 }

 .sign-up-form  {
    margin: 2.5rem 0 3rem 2rem;
    
 }



 .signup {
    background-color: #596D48;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 15px 40px;
    box-shadow: 0px 0px 10px lightgray;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;
 }
 
 .login-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
 }

 .login {
    background: none;
    border: none;
    color: #596D48;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
 }